position: absolute;
width: 148px;
height: 148px;
left: 48px;
top: 625px;

background: rgba(68, 16, 122, 0.63);


/* Ellipse 5 */


position: absolute;
width: 148px;
height: 148px;
left: 985px;
top: 68px;

background: rgba(68, 16, 122, 0.63);


/* Ellipse 8 */


position: absolute;
width: 148px;
height: 148px;
left: 122px;
top: 523px;

background: rgba(68, 16, 122, 0.63);


/* Ellipse 3 */


position: absolute;
width: 134px;
height: 136px;
left: 122px;
top: 577px;

background: rgba(255, 119, 29, 0.56);


/* Ellipse 12 */


position: absolute;
width: 134px;
height: 136px;
left: 62px;
top: 523px;

background: rgba(255, 119, 29, 0.56);


/* Ellipse 6 */


position: absolute;
width: 134px;
height: 136px;
left: 1059px;
top: 20px;

background: rgba(255, 119, 29, 0.56);


/* Ellipse 9 */


position: absolute;
width: 134px;
height: 136px;
left: 196px;
top: 475px;

background: rgba(255, 119, 29, 0.56);


/* Ellipse 4 */


position: absolute;
width: 136px;
height: 136px;
left: 148px;
top: 645px;

background: rgba(2, 183, 255, 0.52);


/* Ellipse 7 */


position: absolute;
width: 136px;
height: 136px;
left: 1085px;
top: 88px;

background: rgba(2, 183, 255, 0.52);


/* Ellipse 11 */


position: absolute;
width: 136px;
height: 136px;
left: 1057px;
top: 156px;

background: rgba(2, 183, 255, 0.52);


/* Ellipse 10 */


position: absolute;
width: 136px;
height: 136px;
left: 222px;
top: 543px;

background: rgba(2, 183, 255, 0.52);